
html{
    min-height: 100%;
}

body {
    background-color: #A8F9FF;
    text-align: center;
    display: flex;
    justify-content:center;
    align-items:center;
    gap: 10rem;
 
}



h1{
    color: #775B59;
    text-decoration: underline;
}

p{
    color:#775B59;
    font-weight: 700;

}

button{
    
    min-width: 7rem;
    margin: 1rem;
}

.weatherSection{
  display: grid;
  justify-content: center;
}

.mapSection{
  margin-top: 5rem;
}

.weatherBadge{
  background-color: #9AE5E6;
  border-radius: 15rem;
  padding: 4rem;
  

  margin: 2rem;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 30px;
}

#weatherMap{

  height: 580px;
  width: 1000px;
  border-radius: 2rem;

  margin: auto;
}








/* CSS */
.button-29 {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button-29:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-29:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-29:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}